body {
  background-color: black;
  margin: 20px auto;
  width: 80%;
  font-family: helvetica;
  text-align: center;
}

h1 {
  margin-top: 80px;
  line-height: 75%;
  font-size: 4.5em;
  color: #50F;
  font-family: Lato;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: -1px 0 #53F, 0 1px #53F, 1px 0 #33F, 0 -1px #33F;
}

#image {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#zerda {
  border-radius: 50%;
  border: 2px solid #00F;
}

@keyframes imgborder {
  0%   {border: 2px solid #00F;}
  25%  {border: 2px solid #80F;}
  50%  {border: 2px solid #848;}
  75%  {border: 2px solid #08F;}
  100% {border: 2px solid #00F;}
}

#zerda:hover {
  animation: imgborder 10s infinite;
}

#credit {
  visibility: hidden;
  color: #888;
}

.links {
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.6em;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

@keyframes glow {
  from {}
  to   {text-shadow: 0 0 5px #FAF, 0 0 5px black;}
}

a:hover {
  animation: glow 0.5s forwards;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(64, 64, 64, 0.75), transparent);
  max-width: 800px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 100px;
  text-align: center;
  color: #555;
  opacity: 0.5;
  text-transform: uppercase;
}

.footer footer {
  font-size: 1em;
}

.footer a {
  color: #888;
  opacity: 0.5;
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 16vw;
  }

  .footer footer {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 400px) {
  .links {
    font-size: 6.45vw;
  }
}

@media screen and (max-height: 900px) {
  .footer {
    position: relative;
    /* bottom: 0; */
    width: 100%;
    height: 50px;
    text-align: center;
  }
}

@media screen and (max-height: 800px) {
  h1 {
    margin-top: 5vh;
  }
}

#hidden-page {
  width: 20%;
}

@keyframes starcycle {
  0%   {color: #9BF;}
  10%  {color: #BCF;}
  20%  {color: #DDF;}
  30%  {color: #EEF;}
  40%  {color: #FEF8FF;}
  50%  {color: #FFF4E4;}
  60%  {color: #FEC;}
  70%  {color: #FDA;}
  80%  {color: #FC8;}
  90%  {color: #FA2;}
  100% {color: #F70;}
}

#star {
  font-size: 9em;
  margin-top: 30vh;
  text-shadow: none;
  animation: starcycle alternate 5s infinite;
}
