body {
  background-color: black;
  margin: auto;
  width: 80%;
  height: 100vh;
  font-family: helvetica;
  text-align: center;
}

/*header {

}

main {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  width: 50%;
}

.box {
  border: 1px solid red;
  flex: 1;
} */

h1 {
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8vh;
  padding-bottom: 8vh;
  font-size: 16vw;
  color: #50F;
  font-family: Lato;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: -1px 0 2px #53F, 0 1px 2px #53F, 1px 0 2px #33F, 0 -1px 2px #33F;
}

#image {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#zerda {
  height: 55vw;
  width: 55vw;
  border-radius: 50%;
  border: 3px solid #00F;
  box-shadow: 0 0 10px #00F;
  animation: imgborder 10s infinite paused;
}

@keyframes imgborder {
  0%   {border: 3px solid #00F; box-shadow: 0 0 10px #00F;}
  25%  {border: 3px solid #80F; box-shadow: 0 0 10px #80F;}
  50%  {border: 3px solid #848; box-shadow: 0 0 10px #848;}
  75%  {border: 3px solid #08F; box-shadow: 0 0 10px #08F;}
  100% {border: 3px solid #00F; box-shadow: 0 0 10px #00F;}
}

#zerda:hover {
  animation: imgborder 10s infinite running;
}

#credit {
  visibility: hidden;
  color: #888;
}

#links {
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 5.75vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

a {
  text-decoration: none;
  transition: text-shadow 0.5s;
}

#links a:nth-of-type(1) {
  color: #AAF;
}

#links a:nth-of-type(2) {
  color: #CAF;
}

#links a:nth-of-type(3) {
  color: #FAF;
}

#links a:nth-of-type(4) {
  color: #FAC;
}

/* @keyframes glow {
  from {}
  to   {text-shadow: 0 0 5px #FAF, 0 0 5px black;}
} */

a:hover {
  /* animation: glow 0.5s forwards; */
  text-shadow: 0 0 5px currentColor;
}

#enter {
  line-height: 150%;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 17.2vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#enter a {
  color: #33F;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(64, 64, 64, 0.75), transparent);
  max-width: 800px;
}

footer {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  text-align: center;
  color: #555;
  opacity: 0.5;
  text-transform: uppercase;
}

footer .text {
  font-size: 3.5vw;
}

footer a {
  color: #888;
  opacity: 0.5;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media (min-width: 450px) {
  h1 {
    font-size: 4.5em;
    text-shadow: -1px 0 2px #53F, 0 1px 2px #53F, 1px 0 2px #33F, 0 -1px 2px #33F;
  }

  #zerda {
    height: 250px;
    width: 250px;
  }

  #links {
    font-size: 1.6em;
  }

  #enter {
    font-size: 5em;
  }

  footer .text {
    font-size: 1em;
  }
}

@media (min-height: 750px) {
  header {
    padding-top: 4vh;
  }
}

@media (min-height: 900px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 100px;
  }
}

/* Starcycle */

@keyframes starcycle {
  0%   {color: #9BF;}
  10%  {color: #BCF;}
  20%  {color: #DDF;}
  30%  {color: #EEF;}
  40%  {color: #FEF8FF;}
  50%  {color: #FFF4E4;}
  60%  {color: #FEC;}
  70%  {color: #FDA;}
  80%  {color: #FC8;}
  90%  {color: #FA2;}
  100% {color: #F70;}
}

#star {
  font-size: 32vw;
  text-shadow: none;
  animation: starcycle alternate 5s infinite;
}

@media (min-width: 450px) {
  #star {
    font-size: 9em; 
  }
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 404 */

#box404 {
  position: absolute;
  background-color: transparent;
}

#box404 h1 {
  padding-top: 6vw;
  padding-bottom: 7vw;
  text-shadow: 0 0 3px currentColor;
}

@media (min-width: 450px) {
  #box404 h1 {
    padding-top: 27px;
    padding-bottom: 30px;
  }
}

/* Projects */

#projectitle {
  font-size: 15vw;
  color: #55F;
}

.deck {
  margin-top: 5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  border: 3px solid lightblue;
  border-radius: 3px;
  width: 30%;
  max-width: 300px; 
  min-width: 200px;
  margin: 30px;
  padding: 20px;
  min-height: 200px;
  background-color: #0A0A0A;
  color: #FDA;
}

.card:nth-of-type(1) {
  border-color: #AAF;
  box-shadow: 0 0 3px #AAF;
}

.card:nth-of-type(2) {
  border-color: #CAF;
  box-shadow: 0 0 3px #CAF;
}

.card:nth-of-type(3) {
  border-color: #FAF;
  box-shadow: 0 0 3px #FAF;
}

.card:nth-of-type(4) {
  border-color: #FAC;
  box-shadow: 0 0 3px #FAC;
}

.card p {
  font-size: 0.9em;
  line-height: 150%;
}

.card p:first-of-type {
  font-size: 1.2em;
}

.card a {
  color: #ADF;
}

@media (min-width: 450px) {
  #projectitle {
    font-size: 4.2em;
    text-shadow: -1px 0 2px #50F, 0 1px 2px #50F, 1px 0 2px #03F, 0 -1px 2px #03F;
  }
}

/* Music */

iframe {
  border: 0; 
  width: 350px; 
  height: 470px;
}