body {
  background-color: black;
  margin: 100px auto;
  width: 80%;
  font-family: helvetica;
  text-align: center;
}

h1 {
  line-height: 75%;
  font-size: 4.5em;
  color: #50F;
  font-family: Lato;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: -1px 0 #53F, 0 1px #53F, 1px 0 #33F, 0 -1px #33F;
}

#image {
  padding-top: 2%;
  padding-bottom: 2%;
}

#zerda {
  border-radius: 50%;
  border: 2px solid #00F;
}

@keyframes imgborder {
  0%   {border: 2px solid #00F;}
  25%  {border: 2px solid #80F;}
  50%  {border: 2px solid #848;}
  75%  {border: 2px solid #08F;}
  100% {border: 2px solid #00F;}
}

#zerda:hover {
  animation: imgborder 10s infinite;
}

#credit {
  visibility: hidden;
  color: #888;
}

.links {
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1.6em;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  text-decoration: none;
}

@keyframes glow {
  from {}
  to   {text-shadow: 0 0 5px #FAF, 0 0 5px black;}
}

a:hover {
  animation: glow 0.5s forwards;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(64, 64, 64, 0.75), transparent);
  max-width: 800px;
}

.footer {
  padding-top: 5%;
  color: #555;
  opacity: 0.5;
  text-transform: uppercase;
}
