body {
  background-color: black;
  margin: auto;
  width: 80%;
  height: 100vh;
  font-family: helvetica;
  text-align: center;
}

main {

}

#title {

}

#contents {
  /* margin-top: 10vh;
  display: flex;
  flex-direction: row;
  width: 50%; */
}

.box {
  /* border: 1px solid red;
  flex: 1; */
}

h1 {
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8vh;
  padding-bottom: 8vh;
  font-size: 16vw;
  color: #50F;
  font-family: Lato;
  letter-spacing: 3px;
  text-align: center;
  text-shadow: -1px 0 #53F, 0 1px #53F, 1px 0 #33F, 0 -1px #33F;
}

#image {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

#zerda {
  height: 55vw;
  width: 55vw;
  border-radius: 50%;
  border: 3px solid #00F;
}

@keyframes imgborder {
  0%   {border: 3px solid #00F;}
  25%  {border: 3px solid #80F;}
  50%  {border: 3px solid #848;}
  75%  {border: 3px solid #08F;}
  100% {border: 3px solid #00F;}
}

#zerda:hover {
  animation: imgborder 10s infinite;
}

#credit {
  visibility: hidden;
  color: #888;
}

.links {
  line-height: 200%;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 5.75vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

a {
  text-decoration: none;
}

.links a:nth-of-type(1) {
  color: #AAF;
}

.links a:nth-of-type(2) {
  color: #CAF;
}

.links a:nth-of-type(3) {
  color: #FAF;
}

.links a:nth-of-type(4) {
  color: #FAC;
}

@keyframes glow {
  from {}
  to   {text-shadow: 0 0 5px #FAF, 0 0 5px black;}
}

a:hover {
  animation: glow 0.5s forwards;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(64, 64, 64, 0.75), transparent);
  max-width: 800px;
}

footer {
  position: relative;
  width: 100%;
  height: 50px;
  text-align: center;
  text-align: center;
  color: #555;
  opacity: 0.5;
  text-transform: uppercase;
}

footer .footer {
  font-size: 3.5vw;
}

footer a {
  color: #888;
  opacity: 0.5;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@media (min-width: 450px) {
  h1 {
    font-size: 4.5em;
  }

  #zerda {
    height: 250px;
    width: 250px;
  }

  .links {
    font-size: 1.6em;
  }

  footer .footer {
    font-size: 1em;
  }
}

@media (min-height: 750px) {
  #title {
    padding-top: 4vh;
  }
}

@media (min-height: 900px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 80%;
    height: 100px;
  }
}

/* Starcycle */

@keyframes starcycle {
  0%   {color: #9BF;}
  10%  {color: #BCF;}
  20%  {color: #DDF;}
  30%  {color: #EEF;}
  40%  {color: #FEF8FF;}
  50%  {color: #FFF4E4;}
  60%  {color: #FEC;}
  70%  {color: #FDA;}
  80%  {color: #FC8;}
  90%  {color: #FA2;}
  100% {color: #F70;}
}

#star {
  font-size: 32vw;
  text-shadow: none;
  animation: starcycle alternate 5s infinite;
}

@media (min-width: 450px) {
  #star {
    font-size: 9em; 
  }
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
